html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.typewriter_wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.settings_bar {
  flex: 0 1 auto;
  height: 130px;

  position: -webkit-sticky;
  position: sticky;
  z-index:100;

  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
}

img {
  margin: 0 20px;
}

.font_bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /*height: 25px;*/
}

.font-weight_bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.ss_bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
}

.text_config_bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Divide horizontal space equally.
   Used in: font_bar and text_config_bar
*/
.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > span {
  margin-right: auto;
}

.box:last-child > span {
  margin-left: auto;
}

.center_div {
  margin: auto;
}

/* ----- Input TextField ----- */

.textfield {
  text-align: center;
  padding: 0 5px;
  font-size: 16px;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  border-style: hidden;
}

.textfield:focus {
  outline: none;
}

/* ----- Line seperator ----- */

hr {
  border-top: 1px solid black;
  margin: 1px;
}

/* ----- Checkbox Button ----- */

.checkbox_toolbar input[type="checkbox"] {
  display: none;
}

.checkbox_toolbar label {
  display: inline-block;
  background: none;
  font-size: 16px;
  border-radius: 28px;
  border: 1px solid rgba(0, 0, 0, 0);

  cursor: pointer;

  margin: 0 5px;
  padding: 0 5px;

  /* make the label unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_toolbar input[type="checkbox"]:checked + label {
  color: white;
  background-color: black;
}

/* ----- Radio Button ----- */

.radio_toolbar input[type="radio"] {
  display: none;
}

.radio_toolbar label {
  display: inline-block;
  background: none;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 28px;

  cursor: pointer;

  margin: 0 10px;
  padding: 0 10px;

  /* make the label unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio_toolbar input[type="radio"]:checked + label {
  color: white;
  background-color: black;
}

/* ----- Button ----- */

.btn {
  border-radius: 28px;
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
  color: none;
  font-size: 17px;
  text-decoration: none;
  margin: 0 10px;
  padding: 0 10px;
}

.btn:focus {
  outline: 0 !important;
}

/* -- Button active classes -- */

.btn_active_white {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.btn_active_green {
  background-color: #10e616ff !important;
  color: #666d88ff !important;
}

.btn_active_black {
  background-color: black !important;
  color: #666d88ff !important;
}

.btn_active_red {
  background-color: white !important;
  color: #ff0000ff !important;
}

/* ----- Image Button ----- */

.img_btn {
  width: 15px;
  height: 15px;
}

/* ----- Slider ----- */

.slider {
  border-top: 1px solid black;

  width: 18vw;
  height: 1px;
  -webkit-appearance: none;
  background: black;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

/* ----- Textarea Wrapper ----- */

.textarea_wrapper {
  flex: 1 1 auto;
  position: relative;
  padding: 0 1% 0 1%;
}

.textarea {
  width: 100%;
  height: 100%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  /* text */
  text-align: center;
  font-size: 60px;
  color: #000000;

  /* center text vertically */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  /* decoration */
  border: none;
  border-style: hidden;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.textarea:focus {
  outline: none;
}

.textearea_paragraph {
  white-space: inherit;
  word-wrap: break-word;
  font-family: Material;
}

p {
  font-family: Material;
}
