/*
100 Thin
200 Extra Light
300 Light
400 Normal
500 Medium
600 Semi Bold
700 Bold
800 Extra Bold
900 Ultra Bold

!!!!! 950 ExtraBlack
!!!!! 900 Black
800 ExtraBold
700 Bold
600 SemiBold
500 Medium
!!!!! 450 Regular
400 Normal
300 Light
!!!!! 250 UltraLight
200 ExtraLight
100 Thin
!!!!! 50 ExtraThin
*/

/**************************
*     Material-Grotesk    *
***************************/

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-Black.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-ExtraBlack.woff") format("woff");
  font-weight: 950;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-ExtraLight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-ExtraThin.woff") format("woff");
  font-weight: 50;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-Normal.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-Regular.woff") format("woff");
  font-weight: 450;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Material";
  src: url("fonts/Material-Grotesk-Thin.woff") format("woff");
  font-weight: 100;
}

/*****************
*     Process    *
*****************/

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-Black.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-ExtraThin.woff") format("woff");
  font-weight: 50;
}

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-Normal.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-Regular.woff") format("woff");
  font-weight: 450;
}

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Progress";
  src: url("fonts/Progress-Thin.woff") format("woff");
  font-weight: 100;
}

/*****************
*     Begato     *
*****************/

@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-Extrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-Extralight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-ExtraThin.woff") format("woff");
  font-weight: 50;
}

@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-Regular.woff") format("woff");
  font-weight: 450;
}

@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Begato";
  src: url("fonts/Begato-Thin.woff") format("woff");
  font-weight: 100;
}
