html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.typewriter_wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.settings_bar {
  flex: 0 1 auto;

  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.font_bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.font-weight_bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.ss_bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
}

.text_config_bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Divide horizontal space equally.
   Used in: font_bar and text_config_bar
*/
.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > span {
  margin-right: auto;
}

.box:last-child > span {
  margin-left: auto;
}

.center_div {
  margin: auto;
}

/* ----- Input TextField ----- */

.textfield {
  text-align: center;
  width: 40vw;
  padding: 5px;
  font-size: 16px;
  border-width: 0px;
  background-color: rgba(0,0,0,0);
  color: #000000;
  border-style: hidden;
}

.textfield:focus {
  outline: none;
}

/* ----- Line seperator ----- */

hr {
  border-top: 2px solid #9f9f9fff;
  margin: 1px;
}

/* ----- Button ----- */

.btn {
  background-color: #ffffff;
  outline: none;
  border-radius: 28px;
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 17px;
  text-decoration: none;
  margin: 0 10px;
  padding: 0 10px;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}


.btn:active {
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
}

.btn:focus {
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
}


/* -- Button active classes -- */

.btn_active_white {
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
 }

 .btn_active_green {
    background-color: rgb(136, 102, 102);
    color: rgb(230, 16, 16);
    border: none;
    outline: none;
 }

 .btn_active_black {
    background-color: black;
    color: #666d88ff;
    border: none;
    outline: none;
 }


.btn:active, .btn_active_red {
    background-color: pink;
    color: #ff0000ff;
    border: none;
    outline: none;
 }

 .btn_active_white {
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
 }


/* ----- Image Button ----- */

.img_btn {
  width: 15px;
  height: 15px;
}

/* ----- Slider ----- */

.slider {
  width: 18vw;
  height: 2px;
  -webkit-appearance: none;
  background: black;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

/* ----- Textarea Wrapper ----- */

.textarea_wrapper {
  flex: 1 1 auto;
  position: relative;
}

.textarea {
  width: 100%;
  height: 100%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  /* text */
  text-align: center;
  font-size: 60px;
  color: #000000;

  /* center text vertically */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  /* decoration */
  border: none;
  border-style: hidden;
  border-width: 0px;
  background-color: rgba(0,0,0,0);
}

.textarea:focus {
  outline: none;
}
